@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset sederhana */
:root {
  background-color: #ffffff;
  color: #000000;
}

body {
  background-color: #f3f4f6; 
  color: #1f2937;
}

/* --- CSS KHUSUS PRINT --- */
@media print {
  /* 1. Hapus Header/Footer Browser */
  @page {
    margin: 0;
    size: auto;
  }

  /* 2. Reset Body */
  body {
    background-color: #ffffff !important;
    -webkit-print-color-adjust: exact;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  /* 3. Sembunyikan UI Web (Sidebar, Button, dll) */
  .no-print {
    display: none !important;
  }

  /* 4. THE MAGIC CLASS: .print-wrapper */
  /* Gunakan class ini di setiap halaman modul agar otomatis full page saat diprint */
  .print-wrapper {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 210mm !important; /* Paksa ukuran A4 */
    min-height: 297mm !important;
    
    margin: 0 !important;
    padding: 20mm !important; /* Padding aman 2cm */
    
    /* Hilangkan efek shadow/border UI web */
    box-shadow: none !important;
    border: none !important;
    transform: none !important; /* Matikan scale-90 preview */
    background-color: #ffffff !important;
    
    /* Pastikan di atas elemen lain */
    z-index: 9999 !important;
  }

  .print-landscape {
    width: 297mm !important;
    min-height: 210mm !important;
  }

  .page-landscape {
    page: landscape;
  }
}

@page landscape {
  size: A4 landscape;
}